.nav-container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    /* border: 1px solid white; */
    position: relative;
    z-index: 1022;
    padding: 0;
    height: 50px;
   
}
/* *{
    border: 1px solid white;
} */

::selection{
    background-color: purple;
    color: rgb(0, 0, 0);
}